.superior{
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    background: white;
    padding: 0cm;
    flex-flow: column row-reverse;
    flex-wrap: wrap;
}
.superior a, b{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
    font-family: Arial;
    font-size: small;
    text-align: center;
}
.superior b{
    background-color: rgb(52, 126, 254);
    padding: right;
    color: white;
    border-radius:3px;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0%;
}
/**LOGO*/
.GOOGLE{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    position: absolute;
    margin-left: 610px;

}

.GOOGLE p{
    flex-direction: column;
    font-family: arial, sans-serif;
    font-size: 90px;
    font-weight: bold;
}

.G {
    color: #4285F4;    
}

.O{
    color: #DB4437;
}

.O2 {
    color: #F4B400;
}

.G2 {
    color: #4285F4;
}

.L {
    color: #0F9D58;
}

.E{
    color: #DB4437;
}
/**BUSCADOR GOOGLE*/
.BUSCADOR{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 200px;
    text-align: center;
    border-radius: 100px;
    width: 500px;
    border: 1px solid #e1e2e6;
    margin-left: 500px;
}

.BUSCADOR input {
    border: none;
    outline: none;
    width: 450px;
    height: 12px;
    outline: none;
}

.BOTONES {
    text-align: center;
    margin: 0px;
}

.BOTONES div{
    position: relative;
    margin-top: 20px;
    display: inline-block;
    margin-right: 8px;
}

.BOTONES button{
    height: 36px;
    background-color: #f8f9fa;
    border: none;
}

.lupa{
   
    justify-self: flex-start;
    margin-top: 0;
    margin-right: auto;
    align-self: center;
    padding: 0.5em;
    position: absolute;
}

.IDIOMAS{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 1em;
    margin-right: 0.5em;
}

.IDIOMAS a{
    margin-right: 5px;
}


/**FOOTER*/

.Espanya{
    display: flex;
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(114, 114, 114);
    margin-top: 245px;
    font-size: 14px;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 0.2;
    height: 17.6px;
    width: 1436px;
    padding-left: 28px;
    border:0.03cm solid rgb(218, 218, 218);
    padding-top: 0.2;
}

.Inferior1{
    display: flex;
    background-color: rgb(240, 240, 240);
    flex-direction: row;
    flex-flow: nowrap;
    margin-top: 0px;
    justify-content: left space-between;
    padding: 8px;
    padding-left: 20px;
    flex-grow: inherit;
    flex-wrap: wrap;
    position: fixed;
    font-size:medium;   
    
}

.Inferior1 a{
    text-decoration: none;
    color: rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.25em;
    font-size: 14px;
}

.Inferior2{
    margin-top: 7px;
    margin-left: 817px;
}