table, th, td {
    font-family: serif;
    border: 1px solid black;    
    border-collapse: collapse;
    padding: 5px;
    font-size: medium;
    
} 
caption {
    color: blue;
    padding: 15px;
    font-size: medium;
    text-align: center;
}
th {
    background-color:darkgray;
}